* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

:root{
    --misty-rose: #f3dad8ff;
    --baby-pink: #f4c3c2ff;
    --cameo-pink: #f1b5cbff;
    --violet-web: #e88eedff;    
}


html{
  background-color: var(--misty-rose);
}

.bg-menu {
    background-color: var(--cameo-pink);
  }
  
  .imgLogo {
    width: 4em;
  }
  
  .abs-center-x {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .header{
      width: 100%;
      height: 95vh;
      background-image:url(../assets/img/salon.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: fixed;
      position: relative;
      overflow: hidden; 
      background-color: var(--misty-rose);
  }
  .navbar a{
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
  }

  .navbar a:hover{
    background: var(--violet-web);
    border-radius: 5%;
  }
  .box1 {
    background-color: var(--violet-web);
    color: white;
    opacity: 0.9;
    width: 550px;
    align-items: center;
    border-radius: 2%;

  }

.text-hero {
  height: 550px;
  color: white;
  letter-spacing: .2em;
  font-family: sans-serif;
  padding-top: 190px;
}

.text-hero h3, h4 {
  font-size: 70px !important;
  font-weight: bold;
  display: flex;
  padding: 5px 10px;

}

.text-hero a{
  font-family: sans-serif;
  color: white;
  font-size: 25px;
  padding: 5px 10px;
  text-decoration: none !important;
  border-radius: 5px;
}

.text-hero a:hover{
  background: var(--misty-rose);
  border-radius: 5%;
}

form a{
  font-family: sans-serif;
  color: white;
  font-size: 25px;
  padding: 5px 10px;
  text-decoration: none !important;
  border-radius: 5px;
  background-color: var(--violet-web);
}
.form a:hover{
  background: var(--misty-rose) !important;
  border-radius: 5%;
}

/* Page Info */

.info {
  background-color: var(--baby-pink);
  padding-top: 90px;
  padding-bottom: 10px;
  text-align: center;
}

.info h1{
  font-family: sans-serif;
  font-size: 50px;
  padding-bottom: 13px;
}

.info h2 {
  font-family: sans-serif;
  font-size: 35px;
  padding-bottom: 13px
}

.info p{
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 500;
}




